
:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --background-color-dark:#2F303A;
    --color-white: #FFFFFF;
    --background-color-light:#F5F4FA;
    --color-black: #000; 
    --button-active-color: #188CE8;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}
ul {
    list-style: none;
}

li .current {
    color: var(--accent-color);
}

 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }


/* Header styles */

.header-info {
    background-color: var(--color-white);
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--accent-color);
    text-decoration: none;

}
.logo-header {
    color: var(--color-black);

}
.site-nav-item,
.contacts-item {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.site-nav-item {
    color: var(--title-color);
}
.contacts-item {
    color: inherit;
}
.site-nav-item:hover,
.site-nav-item:focus,
.contacts-item:hover,
.contacts-item:focus,
.footer-info .contacts-item:hover,
.footer-info .contacts-item:focus {
    color: var(--accent-color);
}


/* Hero styles */


.hero {
    background-color: var(--background-color-dark);
}
.hero-title {
    color: var(--color-white);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    color: var(--color-white);
    background-color: var(--accent-color);

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus
 {
    background: var(--button-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* Sections styles */


.benefits-section,
.activity-section {
    background-color: var(--color-white);
}

.benefits-list .benefits-title {
    color: var(--title-color);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
}

.benefits-list .benefits-description {
    font-size: 14px;
    line-height: 1.71;
}

.section-title {
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


.team-section {
    background-color: var(--background-color-light);
}
.team-item {
    background-color: var(--color-white);
}
.team-list .team-member {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-list .member-description {
    font-size: 16px;
    line-height: 1.19;

}

    /* Footer */
    .footer-info {
        background-color: var(--background-color-dark);
    }
    .logo-footer {
        color:var(--color-white);
    }
    .footer-info .contacts-item,
    .footer-info .address-info {
        color: var(--footer-contacts-color);
        font-style: normal;
        line-height: 1.71;
        font-weight: 400;
        text-decoration: none;

    }
    .footer-info .address-info {
        color: var(--color-white);
    }

    
/* Portfolio styles */

.portfolio-section {
    color: var(--title-color);
}
.filter-item {
    background-color: var(--background-color-light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    cursor: pointer;
}

.filter-item:hover,
.filter-item:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
}

.portfolio-samples h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}

.portfolio-samples p {
    color: var(--primary-text-color);
    
    font-size: 16px;
    line-height: 1.88;
}



